// @mixin profile-pic($size, $circle: false) {
//   width: $size;
//   height: $size;
//   border: 2px solid rgb(48, 46, 46);
//   box-shadow: 3px 2px 5px rgba($color: #000000, $alpha: 0.4);

//   @if $circle {
//     border-radius: 50%;
//   }
// }

// .square-profile {
//   @include profile-pic(400px);
// }

// .circle-profile {
//   @include profile-pic(120px, true);
// }

//! Else
// $dark-background: rgb(67, 67, 67);
// $dark-text: white;
// $light-background: white;
// $light-text: rgb(61, 61, 61);

// @mixin color-mode($lightmode: true) {
//   @if ($lightmode) {
//     background-color: $light-background;
//     color: $light-text;
//   } @else {
//     background-color: $dark-background;
//     color: $dark-text;
//   }
// }

// .nav {
//   @include color-mode();
// }

//! Elseif
// @mixin triangle($size, $color, $direction) {
//   width: 0;
//   height: 0;
//   background-color: transparent;
//   border-color: transparent;
//   border-style: solid;
//   border-width: $size / 2;
//   @if $direction == top {
//     border-bottom-color: $color;
//   } @else if $direction == right {
//     border-left-color: $color;
//   } @else if $direction == bottom {
//     border-top-color: $color;
//   } @else {
//     border-right-color: $color;
//   }
// }

// .right {
//   @include triangle(2em, red, right);
// }

//! For Looping
// .gradient {
//   margin: 0;
//   padding: 0;
//   list-style: none;
//   @for $i from 1 to 11 {
//     li:nth-child(#{$i}) {
//       background-color: lighten($color: salmon, $amount: $i * 2%);
//       padding: 4px;
//     }
//   }
// }

//! While Looping
// .gradient {
//   margin: 0;
//   padding: 0;
//   list-style: none;
//   $i: 1;
//   @while $i < 11 {
//     li:nth-child(#{$i}) {
//       background-color: lighten($color: salmon, $amount: $i * 2%);
//       padding: 4px;
//     }
//     $i: $i + 1;
//   }
// }

//! Each
$socials-colors: (
  yt: red,
  ig: brown,
  twitter: blue,
  twitch: purple,
);

.socials {
  font-size: 2em;
  font-family: sans-serif;
  @each $social, $color in $socials-colors {
    .#{$social} {
      background-color: $color;
    }
  }
}
