* {
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  background-color: red;

  .container & :hover {
    border: 10px solid black;
  }
  .main-header h1 {
    background-color: pink;

    &:hover {
      background-color: white;
    }
  }
}
